<Commons>
  <!--COMMON SETTINGS DO NOT DELETE-->
  <add key="SystemName" value="Branch Sales Monitoring System" />
  <add key="SystemCode" value="(BSMS)" />
  <add key="ListItemSelect" value="Please Select" />
  <add key="DefaultDatabaseConnection" value="BSMS" />
  <add key="ErrorLogFilePath" value="E:\\BSMS" />
  
  <add key="LoginCounter" value="3"/>
  <add key="AdminSupportEmail" value="ncpapio@ucpb.com"/>
  <add key="SystemLoginUrl" value="http://localhost:59905/Views/Login/Login.aspx"/>

  <add key="SessionTimer" value="15000" />
  <add key="AuditLogDelimiter" value="|" />

  <add key="WelcomePagePath" value="Welcome.aspx" />
  <add key="HomeIcon" value='&lt;span class="fa fa-home"&gt; &lt;/span&gt;' />

  <add key="isAPIValidation" value="1"/>
  <add key="enableWebConfigEncryption" value="1"/>
  <add key="isInDevelopmentPhase" value="1"/>

 <!--TEMP STATUS-->
  <add key="ForInsert" value="1" />
  <add key="ForUpdate" value="2" />
  <add key="ForDelete" value="3" />

  <!--STATUS -->
  <add key="ForInsert" value="6" />
  <add key="ForUpdate" value="5" />
  <add key="ForDelete" value="7" />
  <add key="ForDeactivation" value="3" />
  <add key="ForUnlock" value="8" />
  <add key="ForReset" value="9" />
  <add key="ForActivation" value="1" />

  <!--Report Path-->
  <add key="ReportPath" value="Views\Reports\RDLCFiles\" />

  <!--Report Name-->
  <add key="PotentialAccountReports" value="PotentialAccountReports.rdlc" />
  <add key="UsersListReport" value="UsersList.rdlc" />
  <add key="IndustryListReport" value="IndustryList.rdlc" />

  <!--User Roles-->
  <add key="ITSOMaker" value="1" />
  <add key="ITSOApprover" value="2" />
  <add key="AppAdminMaker" value="3" />
  <add key="AppAdminApprover" value="4" />
  <add key="SectorHead" value="5" />
  <add key="GroupHead" value="6" />
  <add key="RO" value="7" />
  <add key="BM" value="8" />
  <add key="TA" value="9" />

  <!--Target Market-->
  <add key="MaxAccountNumber" value="30" />
  <add key="TargetMarketClientType" value="N" />
  <add key="MinCASATarget" value="1" />
  <add key="MinLoansTarget" value="1" />

  <add key="TestEmailAdd" value="test@landbank.com" />

</Commons>