<Messages>
	<add key="PlaceholderFieldName"  value="[field name]" />
	<add key="PlaceholderFieldValue"  value="[field value]" />

	<add key="PlaceholderMaxLength"  value="[max length]" />
	<add key="PlaceholderMinLength"  value="[min length]" />
	<add key="PlaceholderMaxValue"  value="[max value]" />

  
	<add key="PlaceholderBasicFunction"  value="[basic function]" />  
	<add key="MessageErrorBasicFunction"  value="[basic function] HAS FAILED. An exception has occured with message : &lt;br /&gt; [application error message]  &lt;br /&gt; &lt;br /&gt;Please contact System Administrator." />
	<add key="MessageSuccessBasicFunction"  value="[field name] successfully [basic function]." />
  
	<!--Error Message for Required Fields-->
	<add key="MessageErrorEmptyField" value="[field name] cannot be empty."/>
	<add key="MessageErrorNothingSelected" value="Please select [field name]."/>
  <add key="MessageErrorNothingSelectedCPA" value="Please select potential account report type."/>
  <!--Error Message for Input Lengths-->	
	<add key="MessageErrorMaxLengthExceeded"  value="[field name] cannot exceed [max length] characters." />
	<add key="MessageErrorMinLength"  value="[field name] must be at least [min length] characters." />

	<!--Error Message for Input Values-->
	<add key="MessageErrorMinimumNumberNotMet" value="Please provide at least [field value] [field name]."/>
	<add key="MessageErrorExceedValue" value="[field name] cannot exceed [max value]."/>
	<add key="MessageErrorGreaterValue" value="[field name] must be greater than [field value]. "/>
	<add key="MessageErrorNotLessThan"  value="[field name] must not be less than [field value]." />

	<!--Error Message for Data Types-->
	<add key="MessageErrorInvalidData" value="[field name] is invalid."/>
	<add key="MessageErrorNonNumericField" value="[field name] must be numeric."/>
	<add key="MessageErrorNonAlphabeticField" value="Only letters are allowed."/>
	<add key="MessageErrorNonPasswordField" value="[field name] should contain at least 1 uppercase and lowercase &lt;br /&gt; letter, number, and special character." />

	<!--Error Message for Dates-->
  <add key="MessageErrorCPADates" value="Please enter a valid date range."/>
	<add key="MessageErrorShouldBeBackdated" value="[field name] cannot be greater than or equal to current date."/>
	<add key="MessageErrorShouldBeCurrentOrBackdated" value="[field name] cannot be greater than current date."/>
  <add key="MessageErrorShouldBeCurrentOrUpToThreeMonthsBackdated" value="[field name] cannot be greater than current date and allowed to back date up to 3 months."/>

  <!--Error Message for Login-->
	<add key="MessageErrorUserLocked" value="Maximum login attempt exceeded, account is locked. Please contact administrator."/>
	<add key="MessageErrorStandardLogin" value="Invalid user id or password." />
  <add key="MessageErrorSecurityGroupLogin" value="User is not enrolled in the security group." />
  <add key="MessageErrorSecurityGroupValidation" value="User group not found." />
  <add key="MessageErrorAlreadyLogin" value="'[field name]' is already logged in. "/>
  <add key="MessageErrorNoUserBrLogin" value="'Invalid branch/group. "/>
  <add key="MessageErrorUserDeactivated" value="Your account has been deactivated."/>
  <add key="MessageErrorPasswordAlreadyUsed" value="Your inputted new password still exists in the password history. &lt;br&gt; Please try another password." />
  <add key="MessageErrorBadPassCounter" value="You still have [field value] remaining tries before lockout."/>
  <add key="MessageErrorNotActiveUser" value="User is not active ."/>
  <add key="MessageErrorNotSystemUser" value="User is not valid."/>
  <add key="MessageErrorNotActiveUserRole" value="User role is not active ."/>

	<!--Other Misc Error Messages-->
  <add key="MessageErrorSave" value="An error occurred during [field name]. &lt;br&gt; Please contact the System Administrator."/>
	<add key="MessageErrorSystemTransaction" value="There was a system problem while processing your request. &lt;br&gt; Please verify if the transaction was posted correctly and report the problem to IT Support." />
	<add key="MessageErrorDuplicateRecord" value="Record with [field name] = '[field value]' already exists."/>
  <add key="MessageErrorExists" value="Branch Head already exists."/>
	<add key="MessageErrorDoesNotExist" value="Record with [field name] = '[field value]' does not exist." />
	<add key="MessageErrorRecordInUse" value="[field name] '[field value]' is in use, it cannot be deleted." />
	<add key="MessageErrorNotAllowedSameValues" value="[field name] cannot be equal to [field value]." />
  <add key="MessageErrorDoesNotMatch" value="[field name] and [field value] does not match." />
	<add key="MessageErrorRequiredList" value="At least [max value] item/s from the following: [field name] should not be empty."/>
  <add key="MessageErrorChangePassword" value="Unable to reset the Password. The value provided for the new password does not meet the minimum password policy standards. Please verify the complexity, length, or history requirements."/>
  <add key="MessageErrorSystemProblem" value="There was a system problem while processing your request."/>
  
	<!--Success Messages-->
	<add key="MessageDelete" value="[field name] succesfully removed."/>
	<add key="MessageApproved" value="[field name] successfully approved."/>
	<add key="MessageSave" value="[field name] succesfully saved."/>
	<add key="MessageAdd" value="[field name] succesfully created."/>
	<add key="MessageUpdate" value="[field name] succesfully updated."/>

  <add key="NoChangesErrorMessage" value="There are no changes made."/>
  <add key="CNameErrorMessage" value="Potential Account Name cannot be empty."/>
  <add key="CIndIDErrorMessage" value="Industry cannot be empty."/>
  <add key="NoFileFound" value="Unable to locate file '[file name]' in system file storage."/>
  
  <!--Target Market-->
  <add key="MessageErrorAccountBranch" value="Invalid Account Number for this Branch."/>
  <add key="MessageErrorLoanSameDay" value="Cannot add same loan product with the same date."/>
  <add key="MessageErrorAccountInfoRequired" value="Account Information is required."/>
  <add key="MessageErrorUnauthorized" value="Unauthorized access!"/>
  <add key="MessageErrorRemarksLimit" value="Remarks text limit reached! Please shorten your remarks."/>
  <add key="MessageSearchCount" value="Your search produced [count] result/s."/>
  <add key="PlaceholderSearchCount"  value="[count]" />
  <add key="MessageErrorSearch" value="Your search produced more than [count] results. Please try to narrow down your search for more accurate results."/>
  <add key="MessageErrorNoResult" value="No results found. Try more general keywords or filter."/>
  <add key="MessageErrorMaxAccount" value="Cannot exceed [max value] account numbers."/>
  <add key="MessageErrorInvalidUSerTarget" value="Invalid [field name]."/>
  <add key="MessageErrorAddDetails" value="Please add/complete the [field name] first."/>
  
</Messages>
